@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

:root{
    --main-color-bg: #fdc5c8ff;
    --white:#fafafa;
    --grey: #cbcac8ff;
    --complementary: #5CDCA9;
    --black: #1B0B12;
    --shade: #522236;
}

/*Generic Styles*/
body{
    background-color: var(--main-color-bg);
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Mochiy Pop One', sans-serif;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}
/*
main {
    padding-left: 142px;
    padding-right: 142px;
}*/
.japo{
    color: var(--white);
}
.col-left{
    float: left;
    width: 30%;
    margin-top: 2em;
    margin-bottom: 2em;
    max-height: 100%;
}
.col-right{
    float: right;
    width: 30%;
}

.hidden{
    display: none;
}

.pages {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 30px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}

.tabby{
    display: none;
}
.tabby.is-active{
    display: block;
}

.contenedor {
    display: none;
}

#audio{
    width: 100%;
}
/*buttons*/
button{
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 20px;
    text-align: center;
}

.botonGeneral{
    background-color: var(--black);
    color: var(--white);
    box-shadow: 5px 3px 10px var(--shade);
}

.botonGeneral:hover{
    background-color: var(--shade);
}

.botonGeneral:active{
    background-color: var(--white);
}

.buttonGame{
    background-color: var(--shade);
    color: var(--white);
    justify-content: center;
    align-items: center;
}

#btntest{
    position: relative;
}

#go {
    background-image: url(img\paw.jpg);
}

/*Inputs*/
input{
    border-radius: 20px;
    text-align: center;
    font-family: 'FontAwesome';
}
input[type="text"] {
    position: relative;
}

input:hover{
    border-color: var(--complementary);
}

input:focus{
    border-color: var(--black);
}

/*Score Style*/
#score{
    float: left;
    background-color: #fafafa;
    width: 20%;
    text-align: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    
}

    @keyframes change {
        0%{background-color: #1abc9c;}
        25%{background-color: #2ecc71;}
        50%{background-color: #3498db;}
        75%{background-color: #9b59b6;}
        100%{background-color: #e74c3c;}
    }

#score ul li:first-child {
        animation: change 10s infinite;
        font-weight: bold;
        border-radius: 20px;
        color: azure;
        margin-bottom: 15%;;
    }

    #score ul{
    margin-right: 10%;
    margin-left: 0%;
}

#score ul li{
    list-style: none;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
}

/*Principal page*/
#player {
    display: flex;
    height: 500px;
    text-align: center;
    align-items: center;
}

#player div{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    border: 2px solid #fdc5c8ff;
}

.indexImg{
    width: 50%;
    object-fit: contain;
}

.userStart{
    border: 1px solid beige;
}

#errorMesage{
    color: var(--shade);
}

/*Game Page*/
#game1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayCats{
    width: 30%;
}

#displayCats img{
    width: 100%;
}

.displayClickCount {
    font-size: 40px;
    font-weight: bold;
    font-family: impact;
    margin: 10px;
}


.divlist {
    text-align: center;
    height: 100vh;
    list-style: none;
}

::-webkit-input-placeholder {
    text-align: center;
 }

#username{
    border-top: 10%;
}

.gameover1div {
    position: absolute;
    left: 40%;
    top: 40%;
}



.container {
    height: 200px;
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
}
.cat {
    background-color: #dfa048;
    height: 65px;
    width: 80px;
    border-radius: 0 80px 80px 0;
    position: absolute;
    bottom: 60px;
    right: 50px;
}
.ear {
    height: 15px;
    width: 15px;
    background-color: #bd802c;
    position: absolute;
    bottom: 64px;
    left: 8px;
    border-radius: 20px 0 0 0;
    box-shadow: 25px 0 #a8762f;
}
.eye,
.eye:before {
    height: 7px;
    width: 10px;
    border: 2px solid #2c2c2c;
    position: absolute;
    border-radius: 0 0 15px 15px;
    border-top: none;
}
.eye {
    top: 18px;
    left: 15px;
}
.eye:before {
    content: "";
    left: 30px;
}
.nose {
    background-color: #ffffff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 25px;
    box-shadow: 12px 0 #ffffff;
}
.nose:before {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    background-color: #ffffff;
    left: 6px;
}
.nose:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid #ef926b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 7px;
    left: 6px;
}
.mouth {
    background-color: #2c2c2c;
    height: 15px;
    width: 17px;
    position: absolute;
    border-radius: 0 0 5px 5px;
    top: 38px;
    left: 27px;
    animation: mouth-move 2s infinite;
    transform-origin: top;
}
@keyframes mouth-move {
    50% {
        transform: scaleY(0.7);
    }
}
.body {

    background-color: #dfa048;
    height: 90px;
    width: 140px;
    position: absolute;
    right: 65px;
    bottom: 0;
    border-radius: 60px 60px 0 0;
    animation: sleep 2s infinite;
    transform-origin: bottom right;
}
@keyframes sleep {
    50% {
        transform: scale(0.9, 1.05);
    }
}
.tail {
    background-color: #cd8f36;
    height: 20px;
    width: 100px;
    position: absolute;
    right: 150px;
    bottom: 0;
    border-radius: 20px 0 0 20px;
}
.body:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 12px;
    width: 30px;
    border-radius: 6px;
    bottom: 0;
    left: 22px;
    box-shadow: 45px 0 #ffffff;
}
.bubble {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 65px;
    top: 20px;
    border-radius: 50px 50px 50px 5px;
    animation: bubble-scale 2s infinite;
}
@keyframes bubble-scale {
    50% {
        transform: scale(1.6);
    }
}
.shadow {
    height: 10px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    bottom: 52px;
    left: 70px;
    animation: shadow 2s infinite;
}
@keyframes shadow {
    50% {
        transform: scaleX(0.7);
    }
}


@keyframes change2 {
    0%{color: #1abc9c;}
    25%{color: #2ecc71;}
    50%{color: #9b59b6;}
    100%{color: #e74c3c;}
}

.gameoverp {
    animation: change2 10s infinite;
    font-weight: bold;
    border-radius: 20px;
    color: azure;
    text-transform: uppercase;
    font-size: 25px;
}

.gameover1div{
    text-align: center;
}