:root{
    --main-color-bg: #fdc5c8ff;
    --white:#fafafa;
    --grey: #cbcac8ff;
    --complementary: #5CDCA9;
    --black: #1B0B12;
    --shade: #522236;
}

/*Generic Styles*/
body{
    background-color: var(--main-color-bg);
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

main {
    padding-left: 142px;
    padding-right: 142px;
}

.col-left{
    float: left;
    width: 30%;
}
.col-right{
    float: right;
    width: 30%;
}

.hidden{
    display: none;
}

.pages {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 30px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}

.tabby{
    display: none;
}
.tabby.is-active{
    display: block;
}

.contenedor {
    display: none;
}

/*buttons*/
.botonGeneral{
    background-color: black;
    color: var(--white);
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
}

.buttonGame{
    background-color: var(--shade);
    color: var(--white);

}

/*Score Style*/
#score{
    float: left;
    background-color: var(--white);
    width: 20%;
    text-align: center;
    height: 100vh;
}

#score ul li{
    list-style: none;
}

/*Principal page*/
#player {
    display: flex;
    height: 500px;
    text-align: center;
    align-items: center;
}

#player div{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.indexImg{
    width: 100%;
    object-fit: contain;
}

.userStart{
    border: 1px solid beige;
}

/*Game Page*/
#game1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayCats{
    width: 30%;
}

#displayCats img{
    width: 100%;
}

.displayClickCount {
    font-size: 40px;
    font-weight: bold;
    font-family: impact;
    margin: 10px;
}




#btntest{
    position: relative;
}